/* resets */
img{
    width: 100%;
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: white; */
}



/* layout */

.main-card{
    width: 600px;
    margin: auto;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    background: rgb(60,77,93);
    background: linear-gradient(180deg, rgba(204,215,225,1) 50%, rgba(60,77,93,1) 94%);
}

.header-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 1rem;
}

.current-date-written{
    display: flex;
    justify-content: space-between;
}

.week{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.day .img-wrapper{
    width: 5rem;
    height: auto;
}

.today .icon-wrapper{
    width: 7rem;
    height: auto;
}

.line{
    grid-column: span 3;
    border-top: solid white 1px;
}

.header-bar .icon-wrapper{
    width: 2rem;
}

/* style */

.header-bar, .today{
    color: #3c4d5d;
}
.week{
    color: white;
}

.day{
    margin-inline: 3rem;
    margin-block-start: 1rem;
}

h2{
    font-size: 16px;
    font-weight: bold;
}

h3{
    font-size: 14px;
}

h1{
    font-size: 24px;
    font-weight: bold;
}


